html, body {
  margin: 0;
  padding: 0;

  #container{
    position: relative;
    width: 200px;
    height: 200px;
}
  # sky {
    width: auto;
   height: auto;
    }
# frontalone {
  position: absolute;
  bottom: 1px;
    right: 1px;
    width: 50%;
    height: auto;
  }

}
