html, body {
  margin: 0;
  padding: 0;
  width: available;
  height: available;

#container{
    position: relative;
    width: 100%;
    height: 100%;
}
  #sky{
    width: auto;
   height: auto;
    }
#frontalone{
  position: absolute;
  bottom: 0px;
    right: 40%;
    width: available;
    height: auto;
  }

}
